:root {
  --background-color: #0E0E0E;
  --surface-color: #1A1A1A;
  --primary-color: #FF4906;
  --secondary-color: #F2F2F2;
  --font-color: #908F8F;
}

* {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: "Liter", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: var(--background-color);
  scroll-padding-top: 60px;
}

.headline {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem 3rem;
}

section {
  padding: 3rem 5rem 0;
  display: flex;
  flex-direction: column;
}

section h2 {
  font-family: "Liter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 15px;
}

#biography {
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

#biography img {
  background: var(--primary-color);
  background: radial-gradient(circle, var(--primary-color) 0%, var(--background-color) 71%);
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

#biography .desc-bio {
  max-width: 820px;
  text-align: justify;
  margin-bottom: 25px;
}

.quote {
  font-style: italic;
  font-size: 1.1rem;
  background-color: var(--surface-color);
  padding: 20px;
  border-left: 4px solid var(--primary-color);
  border-radius: 6px;
  max-width: 600px;
}

.quote span {
  display: block;
  margin-top: 6px;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  color: var(--secondary-color);
  text-align: right;
}














#skills .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 2rem;
}

#skills .card {
  flex: 1 1 calc(50% - 20px);
  padding: 25px;
  background-color: var(--surface-color);
  border-radius: 12px;

  position: relative;
  transition: transform .25s ease;
}

#skills .card:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 10px var(--primary-color);
}

#skills .card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 12px 0 0 12px;
}

#skills .card ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

#skills .card ul li {
  padding: 6px 12px;
  background-color: #414141;
  color: var(--secondary-color);
  border-radius: 8px;
  font-size: .9rem;
  transition: background-color .2s ease;
}

#skills .card ul li:hover {
  background-color: var(--font-color);
}










#experience h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

#experience p {
  line-height: 1.6;
  text-align: justify;
  max-width: 800px;
}



#contact .contact-desc {
  margin-bottom: 25px;
}

#contact .contact-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.contact-info img {
  width: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  min-width: 280px;
  max-width: 400px;
}

.contact-form input,
.contact-form textarea {
  padding: 1rem;
  background-color: var(--surface-color);
  border: 1px solid var(--font-color);
  border-radius: 6px;
  color: var(--secondary-color);
  font-size: 0.95rem;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--primary-color);
}

.contact-form button {
  padding: 12px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  color: var(--secondary-color);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--font-color);
}

#faq .container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#faq .card {
  background-color: var(--surface-color);
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  transition: .5s ease;
  cursor: pointer;
  align-items: start;
  transition: .5 ease;
}

#faq .card:hover {
  box-shadow: 5px 6px 10px var(--primary-color);
}

#faq img {
  width: 25px;
  filter: brightness(0) saturate(100%) invert(24%) sepia(100%) saturate(7497%) hue-rotate(3deg) brightness(103%) contrast(103%);
  transition: .5s ease;
  transform: rotate(-90deg);
}

#faq h3 {
  color: var(--secondary-color);
}

#faq .card p {
  text-indent: 3rem;
  font-size: 0;
  transition: .3s ease;
  opacity: 0;
}

#faq .card.active p {
  padding: 3px 0;
  opacity: 1;
  transform: scaleY(1);
  font-size: 1rem;
}

#faq .card.active img {
  transform: rotate(0deg);
}



footer {
  margin-top: 5rem;
  padding: 5rem 0;
  text-align: center;
  background: var(--surface-color);
  color: var(--secondary-color);
  border-top: 1px solid var(--primary-color);
}

footer .footer-container h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

footer .footer-container p {
  margin: 0.5rem 0 1.2rem;
  color: var(--secondary-color);
}

footer .copyright {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  opacity: 0.6;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  #biography {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
  }

  #biography img {
    margin: auto;
    margin-bottom: 0;
  }


  #biography .bio-content {
    max-width: 600px;
  }

  #skills .card {
    flex: 1 1 100%;
    padding: 20px;
  }

  #experience h3 {
    font-size: 1.1rem;
  }

  #experience p:last-of-type {
    font-size: 0.95rem;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-info {
    flex-direction: row;
    justify-content: space-around;
  }

  .contact-form {
    margin: auto;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form p {
    text-align: center;
  }

}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }

  section {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
  }

  #skills {
    padding: 40px 15px;
  }

  #skills h2 {
    font-size: 1.6rem;
  }

  #skills .card {
    padding: 15px;
  }

  #skills .card ul li {
    font-size: .8rem;
    padding: 5px 10px;
  }

  #experience h3 {
    font-size: 1rem;
  }

  #experience p:last-of-type {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .contact-field {
    display: none;
  }
}